@supports (text-autospace: normal) {
	* {
		text-autospace: normal;
	}
}
@supports not (text-autospace: normal) {
	/* Adding space for Chinese character */
	
	body.han-la hanla:after {
		content: " ";
		display: inline;
		font-size: 0.89em;
	}
	
	body.han-la code hanla,
	body.han-la pre hanla,
	body.han-la kbd hanla,
	body.han-la samp hanla {
		display: none;
	}
	
	body.han-la ol > hanla,
	body.han-la ul > hanla {
		display: none;
	} 
}
